<div id="songdetail">
    <div class="backwrap">
        <div id="back">
            <a href="#">
                <img src="images/ic_bar_back_white.png" alt="back">
            </a>
            <h2>歌单</h2>
            <img src="images/volume.png" alt="volume">
        </div>
    </div>

    <div class="top">
        <div class="songtopbg"></div>
        <div class="songtop">
            <div class="songtop_pic">
                <div class="clearfix"><i></i><span></span></div>
                <img src=""/>
            </div>
            <div class="songtop_con">
                <p></p>
                <div class="user">
                    <img src="" alt="user">
                    <p>1111</p>
                </div>
            </div>

        </div>
    </div>

    <div class="songinfo">
        <div class="songinfo_top">
            <span>标签:</span>
            <p class="songtag"></p>
        </div>
        <div  class="songinfo_bot">
            <p class="songcon">11111</p>
            <div class="btnshow clearfix"><img src="images/ic_tag_folder_down.png" alt="show"></div>
        </div>
    </div>
    <h3>歌曲列表</h3>
    <ol id="slist">

    </ol>
</div>


<div id="songItem1" style="display: none">
    <li>
        <div class="list_num"></div>
        <div class="list_con">
            <p class="music">歌曲名称</p>
            <p class="artist">歌手</p>
            <span></span>
        </div>

    </li>
</div>