<header>
    <div class="header_wrap">
        <div class="header_top">
            <img src="images/logo.png" alt="logo" class="logo">
            <div class="h_top_right">
                <img src="images/ic_search_gray.png" alt="search" class="search">
                <img src="images/ic_action_overflow_white.png" alt="more" class="more">
            </div>
        </div>
        <nav>
            <ul class="clearfix">
                <li id="home"><a href="#" class="ac">推荐</a></li>
                <li id="v1"><a href="#">收藏</a></li>
                <li id="v2"><a href="#">主播电台</a></li>
                <li><a href="#" class="last_a">排行榜</a></li>
            </ul>
        </nav>
    </div>

</header>
<div id="tabContainer">

</div>