<div class="mymusic">
    <h3>我的收藏</h3>
    <div id="collectlist">
        <div class="mymusic_info">
            <img src="images/3302932937405065.jpg" class="mymusic_pic">
            <div>
                <p class="mymusic_music">歌曲名</p>
                <p class="mymusic_artist">歌手</p>
            </div>
            <span></span>
        </div>
        <div class="mymusic_info">
            <img src="images/3302932937405065.jpg" class="mymusic_pic">
            <div>
                <p class="mymusic_music">歌曲名</p>
                <p class="mymusic_artist">歌手</p>
            </div>
            <span></span>
        </div>
    </div>

</div>



